
body{
	font-size:20px;
	font-family:"微软雅黑";
	margin:0;
	color:#000;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	color:deepskyblue;
	text-decoration:none;
}
a.white{
	color:#fff;
	text-decoration:none;
}
a.white:hover{
	color:#ff0;
	text-decoration:none;
}
.table{
	padding-top: 100px;
}
table tr th{
	font-size: 20px;
	text-align: left;
	height: 36px;
	background: url(../img/left_navbg.jpg);
}
table tr td{
	height:30px;
	font-size:16px;
	text-align: left;
}
li{
	float:left;
	padding-right:20px;
	list-style-type: none;
}
.orange{
	font-weight:700;
	color:#f60;
}
.indexTop{
	font-size:16px;
	font-weight:700;
}
.span{
	font-size:25px;
	margin-right:8px;
	width:15px;
	height:10px;
	display:inline-block;
}
.guess{
	color:green;
	float: right;
}
.dtName{
	float: left;
}
.dtPrices{
	float: left;
	color: #FF6600;
}
.dtCenter{
	text-align: center;
}
.prices{
	color: red;
	float: right;
}
.font12{
	float: left;
	font-size: 16px;
	color: black;
}
.small{
	width:110px;
	height:80px;
	border:2px solid #ccc;
}
.big{
	width:250px;
	height:140px;
}
.tab_active{
	border-top:3px solid red;
	text-align: center;
	width:100px;
	font-weight:700;
	background:#f2f2f2;
	height:33px;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}

